$medium-screens: '767px';
$large-screens: '990px';

.footer {
    padding: 20px 40px;
    background-color: #232129;
    color: white;

    @media (min-width: $large-screens) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__copy {
    font-size: .9em; //14px;
}

.footer__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $large-screens) {
        padding: 0 20px;
    }
}

.footer__link {
    svg {
        color: white;
        transition: all .35s ease-in-out;
    }

    &:hover {
        svg {
            color: #7F93FF;
        }
    }

    &:focus {
        outline-color: white;
    }
}