$medium-screens: '767px';
$large-screens: '990px';

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 40px;
    background-color: white;
    z-index: 3;

    @media (min-width: $medium-screens) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.navbar__title {

    @media (max-width: $medium-screens) {
        display: none;
    }

    position: relative;
    margin: 0;
    opacity: .9;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    cursor: default;
    padding-left: 14px;
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8.5px;
        border-radius: 50%;
        background-color: #232129;
        opacity: .5;
    }

    &:after {
        content: '';
        position: absolute;
        right: -14px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8.5px;
        border-radius: 50%;
        background-color: #232129;
        opacity: .5;
    }
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin: 0;
}

.navbar__list-item {
    font-family: 'Raleway', sans-serif;
}

.navbar__link {
    &.active {
        &:after {
            content: '';
            position: absolute;
            left: -14px;
            width: 8px;
            height: 8.5px;
            border-radius: 50%;
            background-color: #7F93FF;
        }
    }
}

.navbar__link--resume {
    svg {
        width: .8em;
        height: .8em;
        margin-left: 4px;
    }
}