.projectCards {
    width: 100%;
    max-width: 100vw;
}

.projectCards__list {
    list-style: none;
    padding: 0;
}

.projectCards__list-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    background: lightgrey;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.15);
        transition: all .35s ease-in-out;
    }


    &:hover {
        cursor: pointer;

        .projectCards__card-img {
            transform: scale(1.008);
        }

        &:after {
            background-color: transparent;
        }
    }
}

.projectCards__card-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    border: none;
}

.projectCards__card-img-wrapper {
    flex: 0 0 50%;
    overflow: hidden;
}

.projectCards__card-img {
    position: relative;
    max-height: 60vh;
    transition: all .35s ease-in-out;

    img {
        object-fit: contain;
    }
}

.projectCards__card-copy {
    flex: 1;
    padding: 40px 90px;
}

.projectCards__card-subtitle {
    font-size: 16px;
}

.projectCards__card-title {
    font-size: 36px;
    margin: 0;
}

.projectCards__card-link {
    z-index: 2;
    opacity: 1;

    svg {
        margin-left: 4px;
    }
}