// links
a,
.link__primary {
    text-decoration: none;
    color: #232129;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
}

.link__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.link__primary {
    position: relative;
    display: flex;
    align-items: center;
    opacity: .7;
    transition: all .35s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        right: 0;
        bottom: 0;
        background-color: #7F93FF;
        transition: width .3s ease-in-out;
    }

    svg {
        transition: all .35s ease-in-out; 
    }

    &:hover,
    &:focus,
    &.active {
        opacity: 1;
        
        &:before {
            width: 100%;
            left: 0;
        }

        svg {
            transform: translateX(4px);
        }
    }
}


.link__inline {
    opacity: .5;
    transition: all .25s ease-in-out;
    
    &:hover,
    &:focus,
    &.active {
        opacity: 1;
        
        &:before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: #7F93FF;
        }
    }
}

.link__dark {
    color: white;
}