.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 62px);
    background-color: #232129;
    color: white;
    padding: 40px;
}

.about__section {
    flex: 0 0 50%;

    &[data-section=left] {
       
    }

    &[data-section=right] {
       
    }
}

.about__img-wrapper {
    justify-self: flex-end;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    overflow: hidden;
}