.work__intro {
    height: 72vh;
    margin: 0 auto;
    max-width: 60vw;
}

.work__intro-title {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 30px;
}
.work__intro-subtitle {
    margin: 0;
    font-size: 40px;
    line-height: 60px;
}